<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <h5>Categories</h5>
        <ul class="navbar-nav">
          <li
            *ngFor="let item of allCategories$ | async"
            class="nav-item fw-semibold border-bottom d-flex align-items-center justify-content-between"
          >
            <a
              class="nav-link"
              [routerLink]="'/categories/' + item.id"
              role="button"
              >{{ item.name }}</a
            >
            <i class="feather-icon icon-chevron-right"></i>
          </li>
        </ul>
        <h5 class="mt-8 mb-4">Stores</h5>
        <div *ngFor="let item of allStores$ | async" class="form-check mb-2">
          <input
            [id]="item.id"
            class="form-check-input"
            type="checkbox"
          /><label [for]="item.id" class="form-check-label">{{
            item.name
          }}</label>
        </div>
        <form [formGroup]="filters">
          <h5 class="mt-8 mb-4">Price</h5>
          <input
            type="number"
            formControlName="priceFrom"
            placeholder="Price From"
            class="form-control mb-3"
          /><input
            type="number"
            formControlName="priceTo"
            placeholder="Price To"
            class="form-control"
          />

          <div class="mb-2 d-flex flex-column">
            <h5 class="mt-8 mb-4">Rating</h5>

            <div class="d-flex mb-1">
              <input
                class="form-check-input me-3"
                type="radio"
                value="all"
                formControlName="stars"
              />
              <div class="form-check-label">All</div>
            </div>

            <div class="d-flex mb-1">
              <input
                class="form-check-input me-3"
                type="radio"
                value="5"
                formControlName="stars"
              />
              <div class="form-check-label">
                <i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning"></i>
              </div>
            </div>
            <div class="d-flex mb-1">
              <input
                class="form-check-input me-3"
                type="radio"
                value="4"
                formControlName="stars"
              />
              <div class="form-check-label">
                <i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star text-warning"></i>
              </div>
            </div>
            <div class="d-flex mb-1">
              <input
                class="form-check-input me-3"
                type="radio"
                value="3"
                formControlName="stars"
              />
              <div class="form-check-label">
                <i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star text-warning me-1"></i
                ><i class="bi bi-star text-warning"></i>
              </div>
            </div>
            <div class="d-flex mb-1">
              <input
                class="form-check-input me-3"
                type="radio"
                value="2"
                formControlName="stars"
              />
              <div class="form-check-label">
                <i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star-fill text-warning me-1"></i
                ><i class="bi bi-star text-warning me-1"></i
                ><i class="bi bi-star text-warning me-1"></i
                ><i class="bi bi-star text-warning"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        *ngIf="filteredProducts$ | async as filteredProducts"
        class="col-lg-9 col-md-12"
      >
        <div *ngIf="products$ | async as products">
          <section *ngIf="categoryDetails$ | async as category" class="ms-8">
            <div class="card mb-4 bg-light border-0">
              <div class="card-body p-9">
                <h2 class="mb-0 fs-1">{{ category.name }}</h2>
              </div>
            </div>
            <div class="d-lg-flex justify-content-between align-items-center">
              <div class="mb-3 mb-lg-0">
                <p class="mb-0">
                  <span class="text-success">{{
                    filteredProducts.length
                  }}</span>
                  Products found
                </p>
              </div>

              <div class="d-flex align-items-center mt-2 mt-lg-0">
                <p class="my-0 me-2">Sort by:</p>
                <div>
                  <select class="form-select" [formControl]="sortOption">
                    <option
                      *ngFor="let option of sortOptions$ | async"
                      [value]="option.value"
                    >
                      {{ option.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row g-4 row-cols-1 mt-2">
              <div *ngFor="let item of products" class="col">
                <div class="card card-product">
                  <!-- card body -->
                  <div class="card-body">
                    <div class="row align-items-center">
                      <!-- col -->
                      <div class="col-md-4 col-12">
                        <div class="text-center position-relative">
                          <!-- img --><img
                            [src]="item.imageUrl"
                            [alt]="item.name"
                            class="mb-3 img-fluid"
                          />
                        </div>
                      </div>
                      <div class="col-md-8 col-12 flex-grow-1">
                        <!-- heading -->
                        <div class="text-small mb-1">
                          {{ category.name }}
                        </div>
                        <h2 class="fs-6">
                          {{ item.name }}
                        </h2>
                        <div>
                          <!-- rating -->
                          <small
                            *ngIf="item.starsNumber === 1"
                            class="text-warning"
                          >
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i
                          ></small>
                          <small
                            *ngIf="item.starsNumber === 2"
                            class="text-warning"
                          >
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i
                          ></small>
                          <small
                            *ngIf="item.starsNumber === 3"
                            class="text-warning"
                          >
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i
                          ></small>
                          <small
                            *ngIf="item.starsNumber === 4"
                            class="text-warning"
                          >
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i
                          ></small>
                          <small
                            *ngIf="item.starsNumber === 5"
                            class="text-warning"
                          >
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i
                          ></small>
                          <span class="text-muted small"
                            >{{ item.starsNumber }}({{
                              item.ratingCount
                            }})</span
                          >
                        </div>
                        <div class="mt-6">
                          <!-- price -->
                          <div>
                            <span class="text-dark">{{
                              item.price | currency
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="pageParams$ | async as params">
              <div *ngIf="filteredProducts.length > 0" class="row mt-5">
                <nav class="col">
                  <h6>Limit</h6>
                  <ul class="pagination">
                    <li
                      class="page-item"
                      *ngFor="let item of pageSizes$ | async"
                    >
                      <a
                        class="page-link"
                        [ngClass]="{ active: params.pageSize === item }"
                        (click)="selectPageSize(item)"
                        >{{ item }}</a
                      >
                    </li>
                  </ul>
                </nav>
                <nav class="col">
                  <h6>Pagination</h6>
                  <ul class="pagination">
                    <li
                      class="page-item"
                      *ngFor="let item of pageNumbers$ | async"
                    >
                      <a
                        class="page-link"
                        [ngClass]="{ active: params.pageNumber === item }"
                        (click)="selectPageNumber(item)"
                        >{{ item }}</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
